:root {
  --main-color: rgba(153, 51, 208, 0.597);

  --white-color: #f7eef3;
  --light-color: #e2b9f9;
  --dark-color: #400560;
  --black-color: #040006;
  --darkgrey-color: #18161a;
  --grey-color: #58545b;
  --lightgrey-color: #a69daa;
  --darkdetail-color: #6c0841;
  --detail-color: #e23a99;

  --transition: 0.1s ease-in-out all;

  /*shadow*/

  --shadow: 0 0 10px 10px var(--detail-color);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 100%;
  background-color: #12100e;
  height: 100%;
}
body {
  font-family: "Josefin sans";
  font-weight: 400;
  color: var(--white-color);
  justify-content: center;
  align-items: center;
  text-align: center;

  display: flex;
  flex-direction: column;
}

/*HEADER*/
.header {
  width: 100vw;
  height: 20vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  background-image: linear-gradient(180deg, var(--main-color) 0%, #12100e 65%);
}

.header h1 {
  font-weight: 300;
  font-size: 4.5rem;
  padding: 5rem;

  text-transform: capitalize;
}
/*NAVBAR*/

.nav-center {
  text-align: left;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.nav-links {
}
.nav-link {
  padding: 1rem;
  color: var(--white-color);
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 1rem;
}
.nav-link:hover {
  color: var(--light-color);
  border-radius: 5px;
  border: 1px solid var(--light-color);
}
.nav-link:active {
  color: var(--detail-color);
  border: 1px solid var(--detail-color);
}
/*SLIDER*/
.movie-container {
  width: 100vw;
  padding-left: 5rem;
  padding-right: 5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.movie-container h1 {
  margin-bottom: 1rem;
  margin-top: 4rem;
  font-weight: 200;
  text-transform: uppercase;
  color: var(--light-color);
}
.single-movie {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 300px;
  flex-direction: column;
  cursor: pointer;
}
.single-movie:hover {
  width: 175px;
  height: 275px;
  box-shadow: var(--shadow);
  margin: 15px;
}
.info {
  visibility: hidden;
  border: 1px solid var(--detail-color);
  width: 175px;
  height: 275px;
  padding: 0;
  background-color: rgba(224, 86, 253, 0.4);
  background-image: linear-gradient(
    175deg,
    rgba(224, 86, 253, 0.4) 0%,
    rgba(0, 0, 0, 0.4) 74%
  );
}

.single-movie .title {
  font-weight: 300;
  font-family: "Montserrat";
  font-size: 1rem;
  padding: 0.5rem;
  height: 150px;
  text-align: start;
  position: relative;
  font-weight: 500;
  bottom: 58px;
  color: var(--light-color);
}
.single-movie .vote {
  font-size: 1.5rem;
  color: var(--light-color);
  padding-top: 5px;
  background-color: var(--detail-color);
  height: 35px;
  width: 86px;
  border-radius: 0px 0px 0px 10px;
  padding-right: 6px;
  padding-left: 6px;
  position: relative;
  top: -65px;
  left: 88px;
  font-weight: 300;
}

.movie-container {
  margin-bottom: 0;
}
.slick-prev::before,
.slick-next::before {
  color: var(--detail-color);
  font-size: 1.5rem;
}
/*MODAL*/
.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--red-dark);
}
.modal-container {
  background: var(--white);
  width: 90vw;
  height: 30vh;
  border-radius: var(--borderRadius);
  text-align: center;
  max-width: var(--fixed-width);
  display: grid;
  place-items: center;
  position: relative;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  z-index: 10;
  transition-property: opacity;
  transition-duration: 2s;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}

/*SEARCH FORM*/
.search input {
  width: 80vw;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--white-color);
  border: none;
  color: var(--dark-color);
  margin-bottom: 2rem;
  margin-top: 2rem;
  max-width: 600px;
}

/*RESULT SEARCH*/
.results-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
}
.results-container .single-movie {
  display: inline-block;
  margin: 1rem;
}
.results-container .single-movie:hover {
  width: 190px;
  height: 290px;
}

/*FOOTER*/
.footer {
  width: 100vw;

  padding: 2rem;
  justify-content: start;
  text-align: left;
  font-weight: 200;
  font-family: "Montserrat";
  background-color: var(--main-color);
  background-image: linear-gradient(360deg, var(--main-color) 0%, #12100e 40%);
}
.tmdb {
  text-decoration: none;
  color: var(--white-color);
  font-weight: 300;
  color: #01b4e4;
}
